.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    min-height: 100vh;
}

.presentation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
}

.presentation-container .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 50px;
}

.presentation-container .text-container p {
    margin: 5px 0;
}

.presentation-container .text-container p.title {
    font-weight: 900;
    font-size: 60px;
}

.presentation-container .text-container p.text {
    font-size: 30px;
    font-weight: 500;
}

.presentation-container .text-container p.button {
    font-size: 20px;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    align-items: center;
}

.presentation-container .text-container .button {
    color: black;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 7px;
    transition: 0.1s ease-in-out;
    align-items: center;
    display: flex;
    margin-top: 20px;
}

.presentation-container .text-container .button:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.down-button {
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.gif-container {
    text-align: center;
    margin: 50px;
    color: white;
}

.gif-container p.title, .pricing-container p.title {
    font-size: 40px;
    font-weight: 700;
    color: white;
    margin-bottom: 0;
}

.gif-container p.text {
    font-size: 30px;
    font-weight: 500;
    color: whitesmoke;
    width: 900px;
    margin-top: 0;
    word-break: break-all; 
    white-space: normal; 
}

.gif-container img {
    width: 600px;
    border-radius: 10px;
    margin-top: 20px;
}

.pricing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
}

.pricing-container .offers-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

@media only screen and (max-width: 530px) {

    .pricing-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .pricing-container .offer-container {
        background: rgb(58,184,255);
        background: linear-gradient(225deg, rgba(58,184,255,1) 0%, rgba(238,99,242,1) 100%);
        padding: 40px;
        width: 170px;
        margin: 10px;
        border-radius: 10px;
        transition: 0.1s ease-in-out;
        line-height: 5px;
        margin-left: 10px;
        margin-right: 10px;
    }   

    .gif-container {
        margin: 50px;
        color: white;
        line-height: 35px;
    }

    .gif-container img {
        width: 300px;
        border-radius: 10px;
        margin-top: 20px;
    }

    .gif-container p.text {
        display: none;
    }
}
