html, body {
    height: 100%;
}

.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    line-height: 0px;
    height: 90vh;
    width: 100%;
}

form {
    margin-bottom: 100px;
}

.auth-container .title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}

p {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
}

input {
    outline: none;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    border-radius: 7px;
    padding: 5px 10px;
    width: 200px;
    border: none;
    border: 1px solid grey;
}

.auth-container form .button {
    text-align: center;
    color: rgb(216, 158, 221);
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid white;
    background-color: white;
    padding: 5px 10px;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    font-weight: 900;
    transition: 0.2s ease-in-out;
    border-radius: 7px; 
    width: 200px;
}

.auth-container form .button:hover {
    background-color: none; 
    color: white;
}